.auth {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .column {
    min-height: 100vh;
    width: 100%;

    .image {
      max-height: 100vh;
      object-fit: cover;
      width: 100%;
      min-height: 100%;
    }
  }

  .container {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    max-width: 724px;
    width: 100%;
    background-color: #fff;
    padding: 84px 24px;
    max-height: 100dvh;
    overflow: auto;
  }
}
