$primary-color: #3452B4;
$primary-dark-color: #1E378B;
$primary-light-color: #5B76CF;
$primary-blind-color: #E4EAFD;

$success-color: #00A35F;
$error-color: #E03A15;
$border-color: #C0C6D1;
$element-background: #fff;
$element-disabled-color: #E1E4EB;

$text-color: #000;
$text-alt-color: #8B8F98;
$text-blind-color: #C0C6D1;
$text-contrast-color: #fff;

$transition-duration: .4s;